<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title"><f:cObject typoscriptObjectPath="lib.misc.title" /></span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <f:cObject typoscriptObjectPath="lib.navigation.main" />
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <f:cObject typoscriptObjectPath="lib.navigation.main" />
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <f:render section="content" />
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo"><f:cObject typoscriptObjectPath="lib.misc.title" /></div>
            </div>
            <div class="mdl-mini-footer__right-section">
                <f:cObject typoscriptObjectPath="lib.navigation.footer" />
            </div>
        </footer>
    </main>
</div>